$mycolor : #32a852;

.navbar-nav {
    background-color: $mycolor;

}

.my-text-style {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
    font-size: 1vw;
    color: $mycolor;
}

.signature-text {
    @extend .my-text-style;
    font-style: italic;
}

table {
    border-collapse: collapse;
    width: 100%;
        th, td {
            text-align: center;
            padding: 10px;
            border-bottom: 1px solid $mycolor;
        }
}

.responsive {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
       

@media print {
  body {
    color: $mycolor;
  }
}
