$avatar : "https://avatars3.githubusercontent.com/u/38852765?s=460&u=157f9658032207f85aed4c30616ba79787702627&v=4";
$mycolor : #32a852;

.navbar-nav {
    background-color: $mycolor;

}

.my-text-style {
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
    font-size: 1vw;
    color: $mycolor;
}

.signature-text {
    @extend .my-text-style;
    font-style: italic;
}

#avatarpic {
    background-image: url($avatar);
    background-position: left; 
    background-repeat: no-repeat;
}

table {
    border-collapse: collapse;
    width: 100%;
        th, td {
            text-align: center;
            padding: 10px;
            border-bottom: 1px solid $mycolor;
        }
}
       
@media screen and (max-width: 500px) {
    img {
    max-width: 100%;
    height: auto;
  }
}

@media print {
  body {
    color: $mycolor;
  }
}
